# CODEOWNERS

# This file defines who owns and should review changes to specific files or directories.
# Learn more: [CODEOWNERS](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners)

# Documentation
# Owners for documentation files.
*.